<div class="bodyMain">
    <div class="bodyMain">
        <app-navbar-admin></app-navbar-admin>
        <h1>Administrador de la Tienda</h1>
        <h2>Clientes</h2>
        <!--Buscador por id o nombre-->
        <div class="row">
            <div class="input-field">
                <input id="search" type="text" class="validate">
                <label for="search">Buscar</label>
            </div>
        </div>
        <table class="tabla">
            <thead class="titulo">
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Correo</th>
                    <th>Telefono</th>
                    <th>Codigo Postal</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody class="cuerpo">
                <tr *ngFor="let cliente of clientes">
                    <td>{{cliente.id_cliente}}</td>
                    <td>{{cliente.nombre}}</td>
                    <td>{{cliente.apellido}}</td>
                    <td>{{cliente.correo}}</td>
                    <td>{{cliente.telefono}}</td>
                    <td>{{cliente.codigo_postal}}</td>
                    <td class="acciones">
                        <a (click)="eliminarCliente(cliente.id_cliente)" class="waves-effect waves-light btn-small">
                            <i class="material-icons left">delete</i>Eliminar
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>