<div class="bodyMain">
    <div class="bodyMain">
        <app-navbar-admin></app-navbar-admin>
        <h1>Administrador de la Tienda</h1>
        <h2>Clientes</h2>
        <!--Buscador por id o nombre-->
        <div class="row">
            <div class="input-field">
                <input id="search" type="text" class="validate">
                <label for="search">Buscar</label>
                <button (click)="exportAsXLSX()" class="waves-effect waves-light btn">EXCEL</button>
                <input (change)="cargarExcelCliente($event)" type="file">
                <button (click)="migrarCliente2DB()" class="waves-effect waves-light btn">IMPORTAR EXCEL</button>
            </div>
        </div>
        <table class="tabla" id="tabla-1">
            <thead class="titulo">
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Correo</th>
                    <th>Telefono</th>
                    <th>Codigo Postal</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody class="cuerpo">
                <tr *ngFor="let cliente of clientes |
                paginate: {
                    itemsPerPage: pageSize,
                    currentPage: p
                };let i=index">
                    <td>{{cliente.id_cliente}}</td>
                    <td>{{cliente.nombre}}</td>
                    <td>{{cliente.apellido}}</td>
                    <td>{{cliente.correo}}</td>
                    <td>{{cliente.telefono}}</td>
                    <td>{{cliente.codigo_postal}}</td>
                    <td class="acciones">
                        <a (click)="eliminarCliente(cliente.id_cliente)" class="waves-effect waves-light btn-small">
                            <i class="material-icons left">delete</i>Eliminar
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
        <br><br>
        <div class="row center-align">
            <pagination-controls class="my-pagination" (pageChange)="p = ($event)" previousLabel="Anterior"
                nextLabel="Siguiente">
            </pagination-controls>
        </div>
    </div>
</div>