<div class="bodyMain">
    <div class="bodyPage">
        <div>
            <div class="logo">
                <i class="material-icons prefix large">personal_video</i>
            </div>
            <div class="seleccion">
                <app-navbar></app-navbar>
                <!-- <div class="button">
                    <a [routerLink]="['/login']">
                    <button class="btn waves-effect waves-light buttonIngresar" type="submit" name="action">Ingresar
                        <i class="material-icons prefix">account_circle</i>
                    </button>
                    </a>
                    <a [routerLink]="['/registrar']">
                    <button class="btn waves-effect waves-light buttonRegistar" type="submit" name="action">Registrase
                        <i class="material-icons prefix">account_circle</i>
                    </button>
                    </a>
                </div> -->
            </div>
            <div class="grid">
                <div class="componente">
                    <a [routerLink]="['/pagina-producto']">
                    <div class="componente__imagen">
                        <img src="../../../assets/Imagenes/RAM.jpg" alt="Memoria RAM" width="100" height="100">
                    </div>
                    <div class="componente__texto">
                        <h5 class="texto">Memoria RAM</h5>
                    </div>
                    </a>
                </div>
                <div class="componente">
                    <a [routerLink]="['/pagina-producto']">
                    <div class="componente__imagen">
                        <img src="../../../assets/Imagenes/motherboard.jpg" alt="MotherBoard" width="100" height="100">
                    </div>
                    <div class="componente__texto">
                        <h5 class="texto">Motherboard</h5>
                    </div>
                    </a>
                </div>
                <div class="componente">
                    <a [routerLink]="['/pagina-producto']">
                    <div class="componente__imagen">
                        <img src="../../../assets/Imagenes/Disco.jpg" alt="Disco Duro" width="100" height="100">
                    </div>
                    <div class="componente__texto">
                        <h5 class="texto">Disco Duro</h5>
                    </div>
                    </a>
                </div>
                <div class="componente">
                    <a [routerLink]="['/pagina-producto']">
                    <div class="componente__imagen">
                        <img src="../../../assets/Imagenes/Grafica.jpg" alt="Tarjeta Grafica" width="100" height="100">
                    </div>
                    <div class="componente__texto">
                        <h5 class="texto">Tarjeta Grafica</h5>
                    </div>
                    </a>
                </div>
                <div class="componente">
                    <a [routerLink]="['/pagina-producto']">
                    <div class="componente__imagen">
                        <img src="../../../assets/Imagenes/procesador.webp" alt="Procesador" width="100" height="100">
                    </div>
                    <div class="componente__texto">
                        <h5 class="texto">Procesador</h5>
                    </div>
                    </a>
                </div>
                <div class="componente">
                    <a [routerLink]="['/pagina-producto']">
                    <div class="componente__imagen">
                        <img src="../../../assets/Imagenes/Fuente.jpg" alt="Fuente de Poder" width="100" height="100">
                    </div>
                    <div class="componente__texto">
                        <h5 class="texto">Fuente de Poder</h5>
                    </div>
                    </a>
                </div>
                <div class="componente">
                    <a [routerLink]="['/pagina-producto']">
                    <div class="componente__imagen">
                        <img src="../../../assets/Imagenes/gabinete.webp" alt="Gabinete" width="100" height="100">
                    </div>
                    <div class="componente__texto">
                        <h5 class="texto">Gabinete</h5>
                    </div>
                    </a>
                </div>
                <div class="componente">
                    <a [routerLink]="['/pagina-producto']">
                    <div class="componente__imagen">
                        <img src="../../../assets/Imagenes/Monitor.jpg" alt="Monitor" width="100" height="100">
                    </div>
                    <div class="componente__texto">
                        <h5 class="texto">Monitor</h5>
                    </div>
                    </a>
                </div>
                <div class="componente">
                    <a [routerLink]="['/pagina-producto']">
                    <div class="componente__imagen">
                        <img src="../../../assets/Imagenes/teclado.jpg" alt="Teclado / Mouse" width="100" height="100">
                    </div>
                    <div class="componente__texto">
                        <h5 class="texto">Teclado/Mouse</h5>
                    </div>
                    </a>
                </div>
                <div class="componente">
                    <a [routerLink]="['/pagina-producto']">
                    <div class="componente__imagen">
                        <img src="../../../assets/Imagenes/ventilador.jpg" alt="Ventilador" width="100" height="100">
                    </div>
                    <div class="componente__texto">
                        <h5 class="texto">Ventilador</h5>
                    </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>