<div class="bodyMain">
    <div class="bodyPage">
        <div>
            <div class="logo">
                <i class="material-icons prefix large">personal_video</i>
            </div>
            <div class="seleccion">
                <app-navbar></app-navbar>
            </div>
            <div class="grid">
                <div class="componente">
                    <a [routerLink]="['/pagina-producto']">
                    <div class="componente__imagen">
                        <img src="{{liga}}/caratulasPaginas/RAM.jpg" alt="Memoria RAM" width="100" height="100">
                    </div>
                    <div class="componente__texto">
                        <h5 class="texto">Memoria RAM</h5>
                    </div>
                    </a>
                </div>
                <div class="componente">
                    <a [routerLink]="['/pagina-producto']">
                    <div class="componente__imagen">
                        <img src="{{liga}}/caratulasPaginas/motherboard.jpg" alt="MotherBoard" width="100" height="100">
                    </div>
                    <div class="componente__texto">
                        <h5 class="texto">Motherboard</h5>
                    </div>
                    </a>
                </div>
                <div class="componente">
                    <a [routerLink]="['/pagina-producto']">
                    <div class="componente__imagen">
                        <img src="{{liga}}/caratulasPaginas/Disco.jpg" alt="Disco Duro" width="100" height="100">
                    </div>
                    <div class="componente__texto">
                        <h5 class="texto">Disco Duro</h5>
                    </div>
                    </a>
                </div>
                <div class="componente">
                    <a [routerLink]="['/pagina-producto']">
                    <div class="componente__imagen">
                        <img src="{{liga}}/caratulasPaginas/Grafica.jpg" alt="Tarjeta Grafica" width="100" height="100">
                    </div>
                    <div class="componente__texto">
                        <h5 class="texto">Tarjeta Grafica</h5>
                    </div>
                    </a>
                </div>
                <div class="componente">
                    <a [routerLink]="['/pagina-producto']">
                    <div class="componente__imagen">
                        <img src="{{liga}}/caratulasPaginas/procesador.webp" alt="Procesador" width="100" height="100">
                    </div>
                    <div class="componente__texto">
                        <h5 class="texto">Procesador</h5>
                    </div>
                    </a>
                </div>
                <div class="componente">
                    <a [routerLink]="['/pagina-producto']">
                    <div class="componente__imagen">
                        <img src="{{liga}}/caratulasPaginas/Fuente.jpg" alt="Fuente de Poder" width="100" height="100">
                    </div>
                    <div class="componente__texto">
                        <h5 class="texto">Fuente de Poder</h5>
                    </div>
                    </a>
                </div>
                <div class="componente">
                    <a [routerLink]="['/pagina-producto']">
                    <div class="componente__imagen">
                        <img src="{{liga}}/caratulasPaginas/gabinete.webp" alt="Gabinete" width="100" height="100">
                    </div>
                    <div class="componente__texto">
                        <h5 class="texto">Gabinete</h5>
                    </div>
                    </a>
                </div>
                <div class="componente">
                    <a [routerLink]="['/pagina-producto']">
                    <div class="componente__imagen">
                        <img src="{{liga}}/caratulasPaginas/Monitor.jpg" alt="Monitor" width="100" height="100">
                    </div>
                    <div class="componente__texto">
                        <h5 class="texto">Monitor</h5>
                    </div>
                    </a>
                </div>
                <div class="componente">
                    <a [routerLink]="['/pagina-producto']">
                    <div class="componente__imagen">
                        <img src="{{liga}}/caratulasPaginas/teclado.jpg" alt="Teclado / Mouse" width="100" height="100">
                    </div>
                    <div class="componente__texto">
                        <h5 class="texto">Teclado/Mouse</h5>
                    </div>
                    </a>
                </div>
                <div class="componente">
                    <a [routerLink]="['/pagina-producto']">
                    <div class="componente__imagen">
                        <img src="{{liga}}/caratulasPaginas/ventilador.jpg" alt="Ventilador" width="100" height="100">
                    </div>
                    <div class="componente__texto">
                        <h5 class="texto">Ventilador</h5>
                    </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>