<div class="bodyMain">
    <div class="bodyPage">
        <app-navbar-admin></app-navbar-admin>
        <h1>Administrador de la Tienda</h1>
        <h2>Facturas</h2>
        <button (click)="exportAsXLSX()" class="waves-effect waves-light btn">EXCEL</button>
        <!--Tabla de productos-->
        <table class="tabla" id="tabla-1">
            <thead class="titulo">
                <tr>
                    <th>ID Venta</th>
                    <th>ID Pago</th>
                    <th>ID Factura</th>
                    <th>ID Producto</th>
                    <th>Fecha</th>
                    <th>Nombre Cliente</th>
                    <th>Cantidad</th>
                    <th>Precio</th>
                </tr>
            </thead>
            <tbody class="cuerpo">
                <tr *ngFor="let factura of facturas">
                    <td>{{factura.id_venta}}</td>
                    <td>{{factura.id_pago}}</td>
                    <td>{{factura.id_factura}}</td>
                    <td>{{factura.id_producto}}</td>
                    <td>{{factura.fecha}}</td>
                    <td>{{factura.nombre}}</td>
                    <td>{{factura.cantidad}}</td>
                    <td>{{factura.precio}}</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>TOTAL:</td>
                    <td *ngFor="let total of totalFacturas">{{total.precio_total}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>