<div class="bodyMain">
    <app-navbar-admin></app-navbar-admin>
    <div class="bodyPage">
        <h1>Administrador de la Tienda</h1>
        <h2>Productos</h2>
        <!--Buscador por id o nombre-->
        <div class="row">
            <div class="input-field">
                <!-- <input id="search" type="text" class="validate">
                <label for="search">Buscar</label> -->
                <button (click)="exportAsXLSX()" class="waves-effect waves-light btn">DESCARGAR EXCEL</button>
                <!-- <img src="{{liga}}/excel.png">  -->
                <legend>Migrar Excel</legend>
                <input (change)="cargarExcelProducto($event)" type="file">
                <button (click)="migrarProducto2DB()" class="waves-effect waves-light btn">MIGRAR EXCEL</button>
            </div>
            <!--Boton para mostar los videojuegos-->
            <a (click)="mostrarVideojuego()" class="waves-effect waves-light btn-small" routerLink="/productos">
                <i class="material-icons left">videogame_asset</i>Videojuegos
            </a>
            <!--Boton para mostar los componentes-->
            <a (click)="mostrarComponente()" class="waves-effect waves-light btn-small" routerLink="/productos">
                <i class="material-icons left">computer</i>Componentes
            </a>
            <!--Boton para mostar las consolas de videojuegos-->
            <a (click)="mostrarConsola()" class="waves-effect waves-light btn-small" routerLink="/productos">
                <i class="material-icons left">videogame_asset</i>Consolas
            </a>
        </div>
        <!--Tabla de productos-->
        <table class="tabla" id="tabla-1">
            <thead class="titulo">
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Tipo</th>
                    <th>Consola</th>
                    <th>Genero</th>
                    <th>Valoracion</th>
                    <th>Caracteristicas</th>
                    <th>Precio</th>
                    <th>Stock</th>
                    <th>Imagen</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody class="cuerpo">
                <tr *ngFor="let producto of productos |
                                paginate: {
                                    itemsPerPage: pageSize,
                                    currentPage: p
                                };let i=index">
                    <td>{{producto.id_producto}}</td>
                    <td>{{producto.nombre}}</td>
                    <td>{{producto.tipo}}</td>
                    <td>{{producto.consola}}</td>
                    <td>{{producto.genero}}</td>
                    <td>{{producto.valoracion}}</td>
                    <td>{{producto.caracteristicas}}</td>
                    <td>{{producto.precio}}</td>
                    <td>{{producto.stock}}</td>
                    <td>
                        <img [src]="dameNombre(producto.id_producto)">
                    </td>
                    <td class="acciones">
                        <a (click)="visualizarModificarProducto(producto.id_producto)" class="waves-effect waves-light btn-small" routerLink="/editar-producto">
                            <i class="material-icons left">edit</i>Editar
                        </a>
                        <a (click)="eliminarProducto(producto.id_producto)" class="waves-effect waves-light btn-small" routerLink="/eliminar-producto">
                            <i class="material-icons left">delete</i>Eliminar
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
        <br><br>
        <div class="row center-align">
            <pagination-controls class="my-pagination" (pageChange)="p = ($event)" previousLabel="Anterior"
                nextLabel="Siguiente">
            </pagination-controls>
        </div>
    </div>
</div>

<!-- Modals -->

<div id="modalModificarProducto" class="modal">
    <form class="formulario">
        <h2>Rellena el formulario</h2>
        <div class="modal-content">
            <div class="input-field">
                <input [(ngModel)]="producto.nombre" type="text" name="nombre" id="nombre">
                <label for="nombre">Nombre</label>
            </div>
            <div class="input-field">
                <input [(ngModel)]="producto.tipo" type="text" name="tipo" id="tipo">
                <label for="tipo">Tipo</label>
            </div>
            <div class="input-field">
                <input [(ngModel)]="producto.consola" type="text" name="consola" id="consola">
                <label for="consola">Consola</label>
            </div>
            <div class="input-field">
                <input [(ngModel)]="producto.genero" type="text" name="genero" id="genero">
                <label for="genero">Genero</label>
            </div>
            <div class="input-field">
                <input [(ngModel)]="producto.valoracion" type="number" name="valoracion" id="valoracion">
                <label for="valoracion">Valoracion</label>
            </div>
            <div class="input-field">
                <input [(ngModel)]="producto.stock" type="number" name="stock" id="stock" min="0">
                <label for="stock">Stock</label>
            </div>
            <div class="input-field">
                <input [(ngModel)]="producto.precio" type="number" name="precio" id="precio" min="0">
                <label for="precio">Precio</label>
            </div>
            <legend>Caracteristicas: </legend>
            <textarea [(ngModel)]="producto.caracteristicas" name="caracteristicas" id="caracteristicas" cols="30" rows="10">
            </textarea>
            <div class="input-field">
                <!--Input para una imagen-->
                <legend>Imagen</legend>
                <input (change)="cargandoImagen($event.target, 'productos')" type="file" name="imagen" id="imagen" multiple>
            </div>
        </div>
        <div class="modal-footer">
            <!--Boton para agregar producto-->
            <button href="!#" (click)="modificarProducto()" class="modal-close btn-flat waves-effect waves-green" type="submit" name="action">Guardar
                <i class="material-icons right">send</i>
            </button>
        </div>
    </form>
</div>