.bodyPage {
    background-color: #f5f5f5;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.row {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0097a7;
    border-radius: 30px;
    padding: 10px;
    margin: auto;
}

h1,
h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

/* Diseño para la tabla de los productos */
table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #000000;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

thead {
    border: 2px solid #000000;
}

th {
    background-color: #F4F4F4;
    color: #4B4B4B;
    padding: 10px;
    text-align: center;
}

td {
    background-color: #F4F4F4;
    color: #4B4B4B;
    padding: 10px;
    text-align: center;
    /* border: 1px solid black; */
}

.acciones {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.btn-small {
    color: #ffffff;
    border: none;
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.formulario {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ADD8E6;
}

.modal-footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ADD8E6;
}

legend {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: #000000;
}

label {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: #000000;
}

textarea {
    width: 90%;
    height: 100px;
    border-radius: 10px;
    border: 1px solid #000000;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 14px;
}