@import '~material-design-icons/iconfont/material-icons.css';

.bodyPage {
    background-color: #f5f5f5;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.row {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0097a7;
    border-radius: 30px;
    padding: 10px;
    margin: auto;
}

h1,
h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

/* Diseño para la tabla de los productos */
table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #000000;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

thead {
    border: 2px solid #000000;
}

th {
    background-color: #F4F4F4;
    color: #4B4B4B;
    padding: 10px;
    text-align: center;
}

td {
    background-color: #F4F4F4;
    color: #4B4B4B;
    padding: 10px;
    text-align: center;
    /* border: 1px solid black; */
}

.acciones {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.btn-small {
    color: #ffffff;
    border: none;
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.formulario {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ADD8E6;
}

.modal-footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ADD8E6;
}

legend {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: #000000;
}

label {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: #000000;
}

textarea {
    width: 90%;
    height: 100px;
    border-radius: 10px;
    border: 1px solid #000000;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 14px;
}

img {
    width: 150px;
    height: 150px;
    overflow: hidden;
    margin: auto;
}

/* Estilos para el elemento div */
.rowp {
    display: flex; /* Se establece el elemento div como flex */
    justify-content: center; /* Centra el contenido horizontalmente */
    margin: 20px; /* Establece un margen de 20px alrededor del elemento */
    background-color: #f2f2f2; /* Establece un color de fondo gris claro */
  }
  
  /* Estilos para el elemento de paginación personalizado */
  .my-pagination {
    display: flex; /* Se establece el elemento de paginación personalizado como flex */
    justify-content: center; /* Centra el contenido horizontalmente */
    align-items: center; /* Centra el contenido verticalmente */
    list-style: none; /* Elimina la lista de viñetas */
    padding: 0; /* Elimina el relleno interno */
  }
  
  /* Estilos para los botones de página anterior y siguiente */
  .my-pagination button {
    background-color: #4CAF50; /* Establece un color de fondo verde */
    border: none; /* Elimina el borde del botón */
    color: white; /* Establece el color de texto en blanco */
    padding: 10px 20px; /* Establece el relleno del botón */
    text-align: center; /* Centra el texto horizontalmente */
    text-decoration: none; /* Elimina la decoración de texto */
    display: inline-block; /* Establece el botón como un elemento en línea */
    font-size: 16px; /* Establece el tamaño de fuente */
    margin: 4px 2px; /* Establece el margen del botón */
    cursor: pointer; /* Establece el cursor como puntero */
    border-radius: 5px; /* Establece la esquina redondeada del botón */
  }
  
  /* Estilos para los botones de página anterior y siguiente cuando se pasa el cursor */
  .my-pagination button:hover {
    background-color: #3e8e41; /* Cambia el color de fondo cuando se pasa el cursor */
  } 