<div class="bodyMain">
    <div class="bodyPage">
        <app-navbar-admin></app-navbar-admin>
        <h1>Administrador de la Tienda</h1>
        <h2>Ventas</h2>
        <!--Tabla de productos-->
        <table class="tabla">
            <thead class="titulo">
                <tr>
                    <th>ID Venta</th>
                    <th>ID Pago</th>
                    <th>ID Producto</th>
                    <th>Fecha</th>
                    <th>Nombre Cliente</th>
                    <th>Cantidad</th>
                    <th>Precio</th>
                </tr>
            </thead>
            <tbody class="cuerpo">
                <tr *ngFor="let venta of ventas">
                    <td>{{venta.id_venta}}</td>
                    <td>{{venta.pago}}</td>
                    <td>{{venta.id_producto}}</td>
                    <td>{{venta.fecha}}</td>
                    <td>{{venta.nombre}}</td>
                    <td>{{venta.cantidad}}</td>
                    <td>{{venta.precio}}</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>TOTAL:</td>
                    <td *ngFor="let total of totalVentas">{{total.precio_total}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>