<div class="bodyMain">
    <div class="bodyPage">
        <h1>Administrador de la Tienda</h1>
        <div> 
            <!--Boton para ir a la pagina de clientes-->
            <a [routerLink]="['/clientes']" class="waves-effect waves-light btn-large">
                <i class="material-icons left">person</i>Clientes
            </a>
            <!--Boton para ir a la pagina de empleados-->
            <a [routerLink]="['/pagina-empleados']" class="waves-effect waves-light btn-large">
                <i class="material-icons left">person</i>Empleados
            </a> 
            <!--Boton para ir a la pagina de productos-->
            <a [routerLink]="['/pagina-administrador']" class="waves-effect waves-light btn-large">
                <i class="material-icons left">child_friendly</i>Pagina Administrador
            </a>
            <!--Boton para ir a la pagina facturas-->
            <a [routerLink]="['/pagina-facturas']" class="waves-effect waves-light btn-large">
                <i class="material-icons left">content_paste</i>Facturas
            </a>
            <!--Boton para cerrar sesión-->
            <a class="waves-effect waves-light btn-small" [routerLink]="['/pagina-principal']">
                <i class="material-icons left">exit_to_app</i>Cerrar Sesión
            </a>
        </div>
        <h2>Ventas</h2>
        <!--Tabla de productos-->
        <table class="tabla">
            <thead class="titulo">
                <tr>
                    <th>ID Venta</th>
                    <th>ID Pago</th>
                    <th>ID Producto</th>
                    <th>Fecha</th>
                    <th>Nombre Cliente</th>
                    <th>Cantidad</th>
                    <th>Precio</th>
                </tr>
            </thead>
            <tbody class="cuerpo">
                <tr *ngFor="let venta of ventas">
                    <td>{{venta.id_venta}}</td>
                    <td>{{venta.pago}}</td>
                    <td>{{venta.id_producto}}</td>
                    <td>{{venta.fecha}}</td>
                    <td>{{venta.nombre}}</td>
                    <td>{{venta.cantidad}}</td>
                    <td>{{venta.precio}}</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>TOTAL:</td>
                    <td *ngFor="let total of totalVentas">{{total.precio_total}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>