<nav>
    <div class="nav-wrapper">
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li>
            <a [routerLink]="['/login']">
                <button class="btn waves-effect waves-light buttonIngresar" type="submit" name="action">Ingresar
                    <i class="material-icons prefix">account_circle</i>
                </button>
            </a>
        </li>
        <li>
            <a [routerLink]="['/registrar']">
                <button class="btn waves-effect waves-light buttonRegistar" type="submit" name="action">Registrase
                    <i class="material-icons prefix">account_circle</i>
                </button>
            </a>
        </li>
        <li>
            <a (click)="salir()">
                <button class="btn waves-effect waves-light buttonCerrarSesion" type="submit" name="action">Cerrar Sesion
                    <i class="material-icons prefix">exit_to_app</i>
                </button>
            </a>
        </li>
        <li class="circle">
            <img [src]="dameNombre(cliente.id_cliente)" (error)="noFoundImage($event)">
        </li>
        <li>
            <h5 (click)="mostrarInfoCliente()" (click)="obtenerInfoCliente()" class="infoCliente">Bienvenido(a): {{nombre}}</h5>
        </li>
        <li>
            <a [routerLink]="['/pagina-carrito']" class="btn waves-effect waves-light buttonCarrito">
                <i class="material-icons prefix">shopping_cart</i>
            </a>
        </li>
      </ul>
    </div>
</nav>

<!-- Modal -->

<div id="modalAgregarEmpleado" class="modal">
    <form class="formulario">
        <div class="modal-content">
            <div>
                <img [src]="dameNombre(cliente.id_cliente)"  (error)="noFoundImage($event)" class="img-cliente">
            </div>
            <div class="modal-content">
                <input type="file" class="file-design" (change)="cargandoImagen($event.target, 'perfil')" multiple>
            </div>
            <div class="input-field">
                <h5 for="nombre">Nombre: </h5>
                <h4>{{cliente.nombre}}</h4>
            </div>
            <div class="input-field">
                <h5 for="apellido">Apellido: </h5>
                <h4>{{cliente.apellido}}</h4>
            </div>
            <div class="input-field">
                <h5 for="correo">Correo: </h5>
                <h4>{{cliente.correo}}</h4>
            </div>
        </div>
        <div class="modal-footer">
            <!--Boton para agregar -->
            <button class="modal-close btn-flat waves-effect waves-green" type="submit" name="action">OK
                <i class="material-icons right">check_circle</i>
            </button>
        </div>
    </form>
</div>