.nav-wrapper {
    background-color: #61DBC3 !important;
}

h5 {
    color: #000000;
    font-weight: normal;
    font-size: 25px;
    font-family: Arial;
}

.infoCliente:hover {
    cursor: pointer;
}

.formulario, .modal-footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #dfe9f3;
}

label {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: #000000;
    padding: 10px;
}

.circle {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    margin: auto;
}

.circle img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}  