<div class="bodyMain">
    <div class="bodyPage">
        <app-navbar-admin></app-navbar-admin>
        <h1>Administrador de la Tienda</h1>
        <h2>Empleados</h2>
        <div class="row">
            <div class="input-field">
                <input id="search" type="text" class="validate">
                <label for="search">Buscar</label>
            </div>
            <!--Boton para mostar los vendedores-->
            <a (click)="mostrarVendedor()" class="waves-effect waves-light btn-small" routerLink="/empleados">
                <i class="material-icons left">person</i>Vendedores
            </a>
            <!--Boton para mostar los administradores-->
            <a (click)="mostrarAdministrador()" class="waves-effect waves-light btn-small" routerLink="/administradores">
                <i class="material-icons left">person</i>Administradores
            </a>
        </div>
        <!--Tabla de empleados-->
        <table class="tabla">
            <thead class="titulo">
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Correo</th>
                    <th>Rol</th>
                    <th>Contraseña</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody class="cuerpo">
                <tr *ngFor="let empleado of empleados">
                    <td>{{empleado.id_empleado}}</td>
                    <td>{{empleado.nombre}}</td>
                    <td>{{empleado.apellido}}</td>
                    <td>{{empleado.correo}}</td>
                    <td>{{empleado.puesto}}</td>
                    <td>{{empleado.password}}</td>
                    <td class="acciones">
                        <!--Boton para modificar empleado / administrador-->
                        <a (click)="visualizarModificarEmpleado(empleado.id_empleado)" class="waves-effect waves-light btn-small">
                            <i class="material-icons left">edit</i>Modificar
                        </a>
                        <!--Boton para eliminar empleado / administrador-->
                        <a (click)="eliminarEmpleado(empleado.id_empleado)" class="waves-effect waves-light btn-small">
                            <i class="material-icons left">delete</i>Eliminar
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<!-- Modals -->

<div id="modalModificarEmpleado" class="modal">
    <form class="formulario">
        <h2>Rellena el formulario</h2>
        <div class="modal-content">
            <div class="input-field">
                <input [(ngModel)]="empleado.nombre" type="text" name="nombre" id="nombre">
                <label for="nombre">Nombre</label>
            </div>
            <div class="input-field">
                <input [(ngModel)]="empleado.apellido" type="text" name="apellido" id="apellido">
                <label for="apellido">Apellido</label>
            </div>
            <div class="input-field">
                <input [(ngModel)]="empleado.correo" type="text" name="correo" id="correo">
                <label for="correo">Correo</label>
            </div>
            <div class="input-field">
                <input [(ngModel)]="empleado.puesto" type="text" name="rol" id="rol">
                <label for="rol">Rol</label>
            </div>
            <div class="input-field">
                <input [(ngModel)]="empleado.password" type="password" name="contrasena" id="contrasena">
                <label for="contrasena">Contraseña</label>
            </div>
        </div>
        <div class="modal-footer">
            <!--Boton para agregar -->
            <button (click)="modificarEmpleado()" class="modal-close btn-flat waves-effect waves-green" type="submit" name="action">Guardar
                <i class="material-icons right">send</i>
            </button>
        </div>
    </form>
</div>